@model WebsiteHost.Models.IndexSpaPage;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta content="SaaStack" name="description"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta content="@Model.CSRFHeaderToken" name="@Model.CSRFFieldName"/>
    <meta name="msapplication-config" content="/browserconfig.xml"/>
    <meta name="msapplication-TileColor" content="FFFFFF"/>
    <meta name="theme-color" content="FFFFFF"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link rel="icon" href="/favicon.ico"/>
    <link rel="alternate icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"/>
    <link rel="alternate icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
    <title>SaaStack</title>

    <script type="text/javascript">
        window.isTestingOnly = @(Model.IsTestingOnly
                                   ? "true"
                                   : "false");
        window.isHostedOn = "@(Model.IsHostedOn)";
    </script>
    <script defer="defer" src="/@(Model.JsBundleName)"></script>
</head>
<body>
<noscript>You need to enable Javascript to run this app.</noscript>
<div id="root">
    <h1>SaaStack Home</h1>
</div>
</body>
</html>